<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore and download the <%= title %> MP3 song by our music platform. Enjoy the audio and discover more about the artist and song details.">
    <meta name="keywords" content="<%= title %> MP3 download, artist song, music, audio, genre, download">
    <meta name="author" content="YTOMP3">
    <title><%= title %></title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .song-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            color: #333;
            max-width: 600px;
            width: 100%;
        }

        .song-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .song-description {
            font-size: 16px;
            margin-top: 20px;
        }

        .custom-audio-player {
            margin-top: 20px;
            text-align: center;
        }

        audio {
            width: 100%;
            margin-top: 10px;
        }

        .audio-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 5px;
        }

        button:hover {
            background-color: #1C2833;
        }

        input[type="range"] {
            width: 100px;
        }

        .download-link,
        .search-again-link {
            display: inline-block;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            margin-top: 20px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .download-link:hover,
        .search-again-link:hover {
            background-color: #1C2833;
        }

        #download-status {
            margin-top: 10px;
            font-weight: bold;
            color: #3498db;
        }

        .keywords {
            margin-top: 20px;
            font-style: italic;
            color: #555;
        }
    </style>
<script type='text/javascript' src='//pl22055891.toprevenuegate.com/4c/8e/cd/4c8ecd2f13b99246ddc360db332e329d.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : '9adcd1e352e5d8baeaf69f06ab4e8c26',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/9adcd1e352e5d8baeaf69f06ab4e8c26/invoke.js"></scr' + 'ipt>');
</script>
</head>
<body>
    <div class="song-container">
        <div class="song-title"><%= title %></div>
        <div class="song-description"><%= description %></div>
        <div class="custom-audio-player">
            <audio id="custom-audio" preload="none">
                <source src="/<%= downloadUrl %>" type="audio/mpeg">
                Keywords: <%= title %> mp3 download, song, artist, music, genre  
            </audio>
            <div class="audio-controls">
                <button id="play-pause-button" class="play">Play</button>
                <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="1">
            </div>
        </div>
        <a class="download-link" href="/<%= downloadUrl %>">Download mp3</a>
        <a class="search-again-link" href="/audio/search">Search Again</a>
        <h4 id="download-status"></h4>
        <div class="keywords">Keywords: <%= title %> mp3 download, song, artist, music, genre</div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector(".download-link").onclick = () => { document.querySelector("#download-status").textContent = "Downloading started" }
            const audio = document.getElementById("custom-audio");
            const playPauseButton = document.getElementById("play-pause-button");
            const volumeSlider = document.getElementById("volume-slider");

            playPauseButton.addEventListener("click", function () {
                if (audio.paused) {
                    audio.play();
                    playPauseButton.innerText = "Pause";
                } else {
                    audio.pause();
                    playPauseButton.innerText = "Play";
                }
            });

            volumeSlider.addEventListener("input", function () {
                audio.volume = volumeSlider.value;
            });

            const searchAgainLink = document.querySelector(".search-again-link");
            searchAgainLink.addEventListener("click", function (event) {
                event.preventDefault();
                window.location.href = searchAgainLink.getAttribute("href");
            });
        });
    </script>

</body>
</html>
